.fa-heart {
  font-size: 30px;
  font-weight: bold;
  color: #353535;
  position: absolute;
  top: 88%;
  left: 87%;
  transform: translate(-50%, -50%);
}

.btn-new {
  font-family: "roboto", sans-serif;
  color: #278870;
  font-weight: 900;
  font-style: normal;
  background-color: #99E2D0;
  margin-left: auto;
  padding: 2%;
  position: absolute;
  top: 5%;
  left: 70%;
  border-radius: 2px;
}

main :hover .ion-ios-heart-outline {
  opacity: 1;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

h1 {
  font-family: "shrikhand", sans-serif;
  font-size: 0.8em;
}

#container-restos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* display: flex;
  flex-direction: column;*/
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background-color: #f6f6f6;
}

a:visited {
  color: unset;
}

.location {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #eaeaea;
  width: auto;
  height: auto;
  display: flex;
  margin: 10px;
  padding: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: white;
}

.restotxt {
  text-align: left;
}

.img-restos {
  position: relative;
}

main {
  background-color: #f6f6f6;
  padding: 2px;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
}

img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  padding: 0 0 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footertxt {
  font-weight: bold;
  text-align: left;
}

.icon-footer {
  color: white;
}

footer {
  padding: 2%;
  background-color: #353535;
  color: white;
  font-family: "shrikhand", sans-serif;
  display: flex;
  flex-direction: column;
}
footer h3,
footer div,
footer a {
  color: white;
  text-align: left;
  padding: 0.2em;
  margin: 0.2em;
}
footer .fas {
  color: white;
}
footer h3 {
  font-family: "shrikhand", sans-serif;
}

* {
  padding: 3px 3px 3px 3px;
  /*border: 1px dashed grey;*/
  margin: 0;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word;
  font-family: "roboto", sans-serif;
}

#bloc_page {
  max-width: 40px;
  margin: auto;
}

.search {
  background-color: #eaeaea;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 40px;
}

.info a {
  background: linear-gradient(354deg, #9356DC, #FF79DA);
  color: white;
  padding: 4%;
  border-radius: 30px;
  margin: 10%;
  font-size: 18px;
}

h1 h2 h3 {
  font-family: "shrikhand", sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  margin: 5%;
  justify-content: space-between;
}

.nav h2 {
  text-align: left;
}

.element {
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: #f6f6f6;
  margin: 2%;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  padding: 7%;
  box-shadow: #eaeaea 3px 3px 3px;
}

.number {
  color: white;
  background-color: #9356DC;
  padding: 7px;
  border-radius: 50%;
  padding-right: 10px;
  padding-left: 10px;
}

.fas {
  color: #353535;
  margin: auto;
  opacity: 70%;
  font-size: 1.4em;
}

@media (min-width: 450px) {
  html {
    margin: 1.8em;
  }

  .info a {
    border-radius: 40px;
    font-size: 25px;
  }

  .location {
    display: flex;
    flex-wrap: wrap;
  }

  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
@media (min-width: 650px) {
  html {
    margin: 3em;
  }
}
@media (min-width: 850px) {
  #container-restos {
    display: inline-flex;
    flex-direction: row;
  }

  footer {
    padding-right: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .info a {
    font-size: 80px;
    font-size: 30px;
  }
}
@media (min-width: 989px) {
  .location {
    background-color: white;
  }

  img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .fa-heart {
    font-size: 37px;
    font-weight: bold;
    color: #353535;
    position: absolute;
    top: 93%;
    left: 90%;
    transform: translate(0%, -50%);
  }

  .btn-new {
    font-family: "roboto", sans-serif;
    color: #278870;
    font-weight: 900;
    font-style: normal;
    background-color: #99E2D0;
    margin-left: auto;
    padding: 2%;
    position: absolute;
    top: 3%;
    left: 83%;
    border-radius: 2px;
  }

  footer {
    padding: 5%;
    display: flex;
    flex-direction: row;
  }

  .block-nav {
    display: flex;
    flex-direction: row;
  }

  .nav h2 {
    text-align: center;
    font-weight: 100px;
  }
}

/*# sourceMappingURL=index.css.map */
