* {
    padding: 1px 1px 1px 1px;
    border: 1px dashed grey;
    margin: 1px 1px 1px 1px;

    text-decoration: none;
    text-align: center;

    word-wrap: break-word;
    font-family: $font-texte;
}

#bloc_page {
    max-width: 40px;
    margin: auto;
}



body {
    background-color: none;
}

html {
    background-color: none;
}

h1 h2 h3 {
    font-family: $font-titre;
}

.nav {
    background-color: none;
    display: flex;
    flex-direction: column;
    margin: 5%;
    justify-content: space-between;
}