* {
    border: 1px dashed black;
    text-decoration: none;
    text-align: justify;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    word-wrap: break-word;
    text-align: center;
    font-family: $font-texte;
}

a {
    padding: 10px;
    margin: 10px 10px 10px 10px;
}