footer {
    background-color: rgb(53, 53, 53);
    padding-bottom: 5%;

    h4 {
        font-family: $font-titre;
        color: white;
        margin: 5%;
        font-size: 1.2em;
        padding-top: 5%;
        margin-top: 0;
        font-weight: normal;
        letter-spacing: 1px;
    }


}



#footer-block {
    display: flex;
    margin: auto;
    padding: 40px 60px;
    max-width: 1350px;
}

footer article {}