.footertxt {
    font-weight: bold;
    text-align: left;

}

footer {
    padding: 2%;
    background-color: rgb(53, 53, 53);
    color: white;

    font-family: $font-titre;

    display: flex;
    flex-direction: column;

    h3,
    a {
        color: white;
        text-align: left;
        padding: 0.2em;
        margin: 0.2em;
    }
}