#container-restos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* display: flex;
    flex-direction: column;*/

    margin-left: auto;
    margin-right: auto;

    justify-content: space-between;

    background-color: $colour-background-light;

}

a:visited {
    color: unset;
}

.location,
    {

    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px $colour-background-semi-light;

    width: auto;
    height: auto;

    display: flex;
    margin: 10px;

    padding: 0;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: white;
}

.restotxt {
    text-align: left;
}

.img-restos {
    position: relative;
}

main {
    background-color: $colour-background-light;
    padding: 2px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
}

.image {
    object-fit: cover;
    width: 300px;
    height: 200px;
    padding: 0 0 0 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

