

#bloc_page {
    width: 400px;
    margin: auto;
}

.search {
    background-color: #ffffff;
}

.nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 5%;
    justify-content: space-between;
}


.location {
    background-color: #d2b8eb;
    flex: 1;
    width: auto;
    height: auto;
}

#container-restos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 5%;
    justify-content: space-between;
    background-color: $colour-background-light;
}

.restotxt {
    text-align: left;
}



main {
    background-color: $colour-tertiary;
}

body {
    background-color: rgb(158, 158, 158);
}

html {
    background-color: rgb(46, 7, 7);
}

h1 h2 h3 {
    font-family: $font-titre;
}

img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 2em;
}