@media (min-width: 480px) {

    #restos-images {
        width: 100%;
        height: 300px;
    }


    .menus {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    .info a,
        {
        border-radius: 40px;
        font-size: 25px;
    }

    .location {
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 2px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

}

@media (min-width: 650px) {



    .command {
        padding: 1rem;
    }

    /* work pages restos */

    #restos-images {
        width: 100%;
        height: 320px;
    }


}

@media (min-width: 850px) {

    #container-restos {
        display: inline-flex;
        flex-direction: row;
    }


    footer {
        padding: 5%;
        display: flex;
        flex-direction: row;
    }

    .info a,
        {
        font-size: 24px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 20px;
        margin: 1%;
    }


}

/* Pages */
#header-menus {
    display: inline-flex;
    align-content: flex-start;
}



@media (min-width: 989px) {


    .location {
        background-color: white;
    }

    .info {
        padding-top: 30px;
    }


    .info a,
        {
        padding-top: 10px;
        padding-bottom: 10px;

        border-radius: 20px;
        margin: 2%;
    }

    .nav {
        display: flex;
        flex-direction: column;
        margin: 2%;
        justify-content: space-between;
    }

    .element {
        display: flex;
        justify-content: space-around;
        margin: 2%;
        content-right: 100px;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        font-size: 18px;
    }

    .block-nav {
        justify-content: space-around;
    }

    .image {
        width: 600px;
        height: 400px;
        object-fit: cover;
        border-radius: 2px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .fa-heart {
        font-size: 37px;
        font-weight: bold;
        color: $colour-background-dark;
        position: absolute;
        top: 93%;
        left: 90%;
        transform: translate(-0%, -50%);
    }

    .btn-new {
        font-family: $font-texte;
        color: #278870;
        font-weight: 900;
        font-style: normal;
        background-color: $colour-tertiary;
        margin-left: auto;
        padding: 2%;
        position: absolute;
        top: 3%;
        left: 83%;
        border-radius: 2px;
    }

    footer {
        padding: 5%;
        display: flex;
        flex-direction: row;
    }

    .block-nav {
        display: flex;
        flex-direction: row;
    }

    .nav h2 {
        text-align: center;
        font-weight: 100px;
    }

    /* Pages restos*/

    .meal {
        height: 3rem;
        width: 350px ;
    }

}