#fa-heart-pages {
    font-size: 30px;
    font-weight: 400;
    color: $colour-background-dark;
    position: absolute;
    top: 2rem;
    right: 20rem;
    transform: translate(-50%, -50%);

    /* Animation heart menu pages */
    &:hover {
        font-weight: bold;
        transition: color 600ms;
        color: $colour-primary;
    }
}


.fa-heart {
    font-size: 30px;
    font-weight: bold;
    color: $colour-background-dark;
    position: absolute;
    top: 88%;
    left: 87%;
    transform: translate(-50%, -50%);

    /* Animations heart home page*/
    &:hover {
        font-weight: bold;
        transition: color 600ms;
        color: $colour-primary;
        transition: color 500ms;
    }
}




.btn-new {
    font-family: $font-texte;
    color: #278870;
    font-weight: 900;
    font-style: normal;
    background-color: $colour-tertiary;
    margin-left: auto;
    padding: 2%;
    position: absolute;
    top: 5%;
    left: 70%;
    border-radius: 2px;
}

/*
main :hover .ion-ios-heart-outline {
    opacity: 1;
}
*/


.command {
    background: linear-gradient(354deg, #9356DC, #FF79DA);
    color: white;
    padding: 4%;
    border-radius: 40px;
    margin-top: 30px;
    margin-bottom: 90px;
    margin-left: 25%;
    margin-right: 25%;

    /* Animation bouton Commander dans pages restos*/

    &:hover {
        filter: brightness(1.10);
        box-shadow: 5px 5px 15px 5px $colour-background-semi-light;
    }
}