.restos {
    overflow: hidden;
    position: relative;

    img {
        width: 414px;
        height: 300px;
        object-fit: cover;
    }

    .name {
        position: absolute;
        border-radius: 40px;
        background-color: $colour-background-light;
        padding-top: 6%;
        padding-bottom: 5%;
        margin: 0;
        bottom: -60%;
        width: 100%;
    }

    h2 {
        font-family: $font-titre;
        margin-left: 3%;
        font-size: 1.9em;
    }

}




#restosname {
    font-size: 25px;
    text-align: left;
    padding-left: 22px;
}

#main-pages {
    border-radius: 300px 300px 0 0;
}

#fas-arrow {
    font-size: 28px;
    color: black;
}

#header-menus {
    display: flex;
    justify-content: space-between;
    margin-right: 27%;

}

.menus {
    background: $colour-background-light;
}

.line {
    border: none;
    width: 10%;
    height: 0.00001rem;
    background-color: $colour-tertiary;
}

.category {
    text-align: left;
}

.meal {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 00px 0px 10px 5px $colour-background-semi-light;
    margin: 15px;

    .push {
        margin-right: auto;
        text-align: left;
    }

    .meal-name {
        font-weight: bold;
    }

    .price {
        margin-top: auto;
        font-weight: bold;
    }
}

.block-meal {
    margin-top: 15px;
    margin-bottom: 15px;
}