/* Animations menus qui montent pages restos*/
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}



/* Animation ajout de plats petite coche à droite qui coulisse*/

/* Créer animation */
@keyframes select-dishes {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100px);
    }
}




/* Utiliser animation */

.meal:hover {
    animation: select-dishes 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


