/* Animations menus qui montent pages restos*/
@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateY(70px)
    }

    25% {
        opacity: 0.25;
        transform: translateY(45px)
    }

    50% {
        opacity: 0.5;
        transform: translateY(25px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



/* Animation ajout de plats petite coche à droite qui coulisse*/

/* Créer animation */

.check-icon-box {
    margin: -13px -70px -20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #99e2d0;
    height: 62px;
    width: 60px;
}

.check-icon-box .check-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.check-icon-box .check-icon i {
    color: #99e2d0;
}

.meal:hover .check-icon-box {
    margin-right: -4px;

}

.meal:hover .check-icon-box .check-icon {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

/*
@keyframes select-dishes {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100px);
    }
}
*/



/* Utiliser animation */

/*
.meal:hover {
    animation: select-dishes 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
*/

/* loading spinner */

.spinner {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(153, 226, 208, 0.7);
    z-index: 10000;
    -webkit-animation: hide-spinner 1s 1;
    animation: hide-spinner 1s 1;
    visibility: collapse;

    .spinner-active {
        border: 20px solid $colour-primary;
        border-top: 20px solid $colour-background-dark;
        border-bottom: 20px solid $colour-secondary;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        -webkit-animation: spin linear 1.5s 2;
        animation: spin linear 1.5s 2;

    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }


    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes hide-spinner {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes hide-spinner {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}