/* Animations menus qui montent pages restos*/
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}



/* Animation ajout de plats petite coche à droite qui coulisse*/

/* Créer animation */

/*
@keyframes select-dishes {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100px);
    }
}
*/



/* Utiliser animation */

/*
.meal:hover {
    animation: select-dishes 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
*/

/* loading spinner */

.spinner {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(153, 226, 208, 0.7);
    z-index: 10000;
    -webkit-animation: hide-spinner 1s 1;
    animation: hide-spinner 1s 1;
    visibility: collapse;

    .spinner-active {
        border: 20px solid $colour-primary;
        border-top: 20px solid $colour-background-dark;
        border-bottom: 20px solid $colour-secondary;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        -webkit-animation: spin linear 1.5s 2;
        animation: spin linear 1.5s 2;

    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }


    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes hide-spinner {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes hide-spinner {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}