$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$gradient: linear-gradient(0deg, $colour-primary, $colour-secondary);

$colour-background-light:#f6f6f6;
$colour-background-semi-light:#eaeaea;
$colour-background-dark:#353535;



